# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.coverage

# Ignore the environment files
venv/

# Ignore .vscode directory and its files
.vscode/

# Ignore .env file
.env

# Ignore script to create tables in production environment
migrate_prod.py
